<div class="col">
  <div class="card h-100">
    @if (product.stock > 0) {
    <label class="badge bg-success pos">In Stock</label>
    } @else {
    <label class="badge bg-danger pos">Out of Stock</label>
    }
    <a [routerLink]="['/products', product.id]">
      <img src="{{ product.images[0] }}" class="card-img-top" alt="..." />
    </a>
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      @if (product.discountPercentage) {
      <strong class="card-title text-danger me-2">
        $
        {{
          (
            [product.price, product.discountPercentage] | calculateDiscount
          ).toFixed(2)
        }}
      </strong>
      <del>$ {{ product.price }}</del>
      } @else {
      <strong class="card-title">$ {{ product.price }}</strong>
      }
      <p>
        <app-star-rating [rating]="product.rating"></app-star-rating>
      </p>
      <p class="card-text">{{ product.description }}</p>
      <button class="btn btn-primary" (click)="handleRedirect(product.id)">
        View
      </button>
    </div>
  </div>
</div>
